.order {
    background-color: #F5F5F5;
}

.order-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #78909C;
    color: white;
}

.order-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 12px;
    color: black;
}

.order-btn {
    cursor: pointer;
    padding: 0rem 4rem;
    border: 1px solid #263238;
    background-color: #455A64;
    color: #e6e6e6;
    border-radius: 4px;
    font-size: 1.6em;
}

.order-btn:hover,
.order-btn:active {
    background-color: #37474F;
}

.order-books {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
}

.order-cover-img {
    border-radius: 4px;
    width: 100%;
    color: white;
}
