.order {
    background-color: #F5F5F5;
}

.order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background-color: #78909C;
    color: white;
}

.order-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: black;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #CFD8DC;
    text-align: center;
    color: black;
}

.order-books {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
}

.order-cover-img {
    border-radius: 4px;
    width: 100%;
    color: white;
}
