.book{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #FAFAFA;
}

.book-listing {
    font-size: 1.6em;
    font-weight: bold;
    color: black;
}

.book-price {
    font-size: 1.4em;
    font-weight: lighter;
    color: black;
}

.cover-img {
    border-radius: 4px;
    height: 400px;
    color: white;
}

.view-details-btn {
    cursor: pointer;
    padding: 1rem 2rem;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2em;
}

.go-to-view {
    border: 1px solid #263238;
    background-color: #455A64;
}
.go-to-view:hover,
.go-to-view:active {
    background-color: #37474F;
}

.to-cart {
    background-color: #0097A7;
    border: 1px solid #00838F;
}
.to-cart:hover,
.to-cart:active {
    background-color: #00838F;
}

.button-span {
    display: flex;
    flex-direction: row;
}

.button-span button {
    margin: 0 0.4em;
}
