.view-page {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.view-details {
    text-align: center;
    padding: 16px;
    background-color: #FAFAFA;
    width: 60%;
}
.view-details h1  {
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.view-details h2 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
.top-hr {
    margin-top: 8px;
    margin-bottom: 4em;
    display: block;             
    background-color:black;
    height: 4px;
}
.bottom-hr {
    margin-top: 4em;
}

.view-details p {
    text-align: left;
    font-size: 2em;
}
.view-details h3 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}
.view-details button {
    cursor: pointer;
    margin-top: 1em;
    width: 40%;
    padding: 1.8rem;
    background-color: #0097A7;
    border: 1px solid #00838F;
    color: #e6e6e6;
    border-radius: 4px;
    font-weight: normal;
    font-size: 3em;
} 
.view-details button:hover,
.view-details button:active {
    background-color: #00838F;
}

.view-main {
    width: 37%;
    text-align: center;
}
.view-main img {
    width: 100%;
}
