.admin-btns {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em;
    gap: 4em;
}

.admin-util {
    text-align: center;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: #BDBDBD;
    
}
.admin-util h1 {
    font-size: 2em;
}

.admin-btn {
    cursor: pointer;
    padding: 2rem 4rem;
    border: 1px solid #263238;
    background-color: #455A64;
    color: #e6e6e6;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
} 
.admin-btn:hover,
.admin-btn :active {
    background-color: #37474F;
}

.admin-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 1.2em;
    text-shadow: none;
}
